/* CSS */

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

.intro_text {
    max-width: 656px;
    margin: auto;   
}

.intro-container {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 70vw;
    padding-top: 48px;
    padding-right: 30px;
    padding-left: 30px;
    animation: fade-down 0.5s;
    background-color: #1d1d1d;
    border-radius: 10px;
    background-image: linear-gradient(to right top, #181818, #1c1c1c, #1f1f1f, #232323, #272727);
    height: 520px;
}




.intro-container-wrapper {
    margin-top: 40px;
    height: 55vh;
}

/* paragraphs CSS */
p {
    color: var(--Black-50, var(--Black-50, #b0b0b0));
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    }

/* img CSS */
img.responsive-img {
width: 128px;
height: auto;
}

/* Nav adjustments */

nav {
    background-color: transparent !important;
    color: transparent !important;
    box-shadow: none !important;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

.nav-wraper {
    margin: auto;
}

.dantecurin {
    margin-left: 18px;
    color: #b0b0b0;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
}

.dantecurin:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    color: #d3d3d3;
    opacity: 0.5;
}

nav ul .dantecurin a{
    
    color: #b0b0b0;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
}


nav ul li a {
    color: #b0b0b0;

}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    color: #d3d3d3 !important;
}

.sidenav li a {
    color: #b0b0b0 !important;

}

.sidenav li a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    color: #d3d3d3 !important;
}


nav ul .dantecurin a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    color: #d3d3d3;
    opacity: 0.5;
}

.list-nav-item-mobile {
    border-top: 1px solid #b0b0b0; /* Borde de 1px sólido arriba */

}

.list-nav-item-mobile-start {
    border-top: 1px solid #b0b0b0; /* Borde de 1px sólido arriba */
    margin-top: 28px;
}

.list-nav-item-mobile-end {
    width: 100%;
    height: 48px;
    padding-left: 32px;
    border-top: 1px solid #b0b0b0; /* Borde de 1px sólido arriba */
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 16px;
}

.hamburger-menu {
    padding-right: 15px;
}

.sidenav {
    background-color: #292929 !important;
    width: 210px !important;
    padding-top: 28px;


}

@media screen and (min-width:601px) {
    .hamburger-menu-ul {
        display: none;
    }
    
    .hamburger-menu {
        display: none;
        z-index: 1;
    }
}

.smoothed {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
    
.material-icons {
    color: #b0b0b0;
}
 
  
h1 {
    color: var(--Black-100, #cdcdcd);
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 700 !important;
    line-height: normal;
}

h2 {
    color: var(--Black-100, #cdcdcd);
    text-align:left;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px 0px 5px 0px;
    padding:0;
;
}

h3 {
    color: var(--Black-100, #cdcdcd);
    text-align:left;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0;
    padding:0;
}

h4 {
    color: var(--Black-100, #cdcdcd);
    text-align:left;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin:20;
    padding:0;
}

.letstalk {
    animation: fade-down 0.5s;
    margin-top: 50px;
    color: #ff4753;
    font-size: 40px;
}


/* Responsiveness---------- */

.responsive {
    width: 100%;
    height: auto;
  }

/* Viewport adjustments (nav and content) */

@media screen and (max-width:1440px) {

    .nav-container {
        width: 90vw;
        max-width: 90vw;
    }

    .intro-container {
        width: 90vw;
    }

    .container {
        width: 90vw !important;
        max-width: 90vw !important;
    }
}

@media screen and (min-width:1441px) {

    .nav-container {
        width: 90vw;
        max-width: 90vw;
    }

    .intro-container {
        width: 90vw;
    }

    .container {
        width: 90vw !important;
        max-width: 90vw !important;
    }


}

/* Footer adjustments */

.page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: auto;
    margin-bottom: auto;
    height: 70px;

}

.footer {
    color: var(--Black-50, var(--Black-50, #cdcdcd));
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer{
 color: #b0b0b0;
}

.footer p {
    font-size: 12px;
}

.other-links {
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* ---- Navbar Responsiveness---------- */

@media screen and (max-width: 500px) {
   .intro-container {
    margin-top: auto;
    padding-top: 0;
    height: 470px;
   }

    nav ul li a {
        font-family: Inter;
        color: #cdcdcd;
        font-size: 21px;
    }
}

@media screen and (min-width: 501px) {
    .back {
        opacity: 0;
    }
   
} 


/* Text Responsiveness */

@media screen and (max-width: 840px) {
    .intro_text p{
        font-size: 16px;
    }
    .letstalk {
        font-size:30px;
    }
   
} 

/* Keyframes */

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9)
}

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }

}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9)
}

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }

}

@keyframes fade-in-l {
    0% {
        opacity: 0;
        transform: translateX(-30px) scale(0.9)
}

    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }

}



/*GALLERY TEST*/

* {
    padding: 0;
    margin: 0;
}

.container {
    padding: 0px;
    margin-bottom: 25px;
    width: 100% !important;
    max-width: 90vw !important;
}

.photo-gallery {
    margin-top: -25px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;

}

.column {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.photo {
    animation: fade-up 1s;
    
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid #1b1b1b;
}

@media(max-width:1000px){
    .photo-gallery {
        flex-direction: column;
    }
}

/*PORTFOLIOGALLERY*/

.port-title {
    margin-bottom: 25px;
}


.photo_port img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid #1b1b1b;
    max-width: 1400px;
}

.port-description p {
    width: 425px;
    text-align: left;
    font-size: 16px;
    margin: 0;
    padding: 0;
    max-width: 90%;
}

.port-collaborators p {
    width: 425px;
    text-align: left;
    font-size: 16px;
}

.port-collaborators h4{
    margin-bottom: 10px;
}

.photo img:hover {
    width: 101%;
    height: 101%;
    transition: 0.5s;
}

.icon-footer {
    height: 20px;
    width: auto;
    color: #cdcdcd;
}

.icon-footer :hover {
    opacity: 0.8;
}


.back {
    margin-top: 10px;
}

.portfoliotext {
    margin-top: 0;
    margin-bottom: auto;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 120px;
}

.portfoliowrapper {
    display: flex;
    flex-direction: row;
}
/*GALLERY RESPONSIVENESS*/

@media screen and (max-width: 400px) {
   .container {
    max-width: 390px;
    width: 300px;
    padding: 0;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
   }
 } 
 
